<form method='post' action='/birthdays/<%= @birthday.id %>'>
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type='text' name="birthday[name]" placeholder="<%= @birthday.name %>"></input><br>
  <input type='text' name="birthday[date]" placeholder="<%= @birthday.date %>"></input>
  <input type='submit' value='Edit Birthday'></input>
</form>