<form method='post' action='/birthdays/<%= @birthday.id %>'>
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type='text' name="name" placeholder="<%= @birthday.name %>"></input><br>
  <input type='date' name="date" placeholder="<%= @birthday.date %>"></input><br>
  <input type='submit' value='Edit Birthday'></input>
</form>