<h1>Hey, <%=@user.username%>!</h1>

<h3>Your Birthday Reminders:</h3>

<%if @user.birthdays.empty?%>
<%='You have no birthdays this week.'%>
<%else%>
<%@user.birthdays.each do |birthday|%>
<%=birthday.date%>: <%=birthday.name%><br>
<%end%>
<%end%>
<br>

<a class="button" href="birthdays/">See All Your Birthdays</a>
<a class="button" href="birthdays/new">Add a New Birthday</a>



