<h1>Create a New Birthday</h1>
<form action='/birthdays' method='POST'>
  <label>Name:</label><input type='text' name='name' placeholder='Name'></input>
  <label>Birthdate:</label><input type='text' name='birthday' placeholder='Birthdate'></input>
  <input type='submit' value='submit' id='Create Birthday'></input>
</form>