<!doctype html>
<html>
  <head>
    <title>B-Day Book</title>
  </head>
  <body>

    <div class="container">
      <h1>B-Day Book</h1>
      <h3>A personal collection of your important birthday reminders</h3>
      
      <% if flash.has?(:message) %>
        <%= flash[:message] %>
      <% end %>
      
      <%= yield %>
      
    </div>

  </body>
</html>